@page "/posts/{postId}"

@inject HttpClient _client;
@inject NavigationManager _navigationManager;


<HeadContent>
    <meta name="og:description" content="@Current?.Description"/>
    <meta name="description" content="@Current?.Description"/>
    <meta name="og:title" content="@Current?.Title"/>
    <meta name="title" content="@Current?.Title"/>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB"/>
    <meta name="og:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta name="author" content="Billy Mumby"/>
    <meta name="description" content="I am a .NET developer currently working at Next working with ASPNET.CORE, AZURE & C#"/>
    <meta property="og:description" content="I am a .NET developer currently working at Next working with ASPNET.CORE, AZURE & C#"/>
    <meta property="og:url" content="https://www.billymumby.net/"/>
    <meta property="og:site_name" content="Billy Mumby"/>
    <meta property="og:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta property="twitter:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta name="twitter:site" content="@MetaTagsHelper.Twitter"/>
    <meta name="twitter:creator" content="@MetaTagsHelper.Twitter"/>
    <meta property="twitter:title" content="@Current?.Title"/>
</HeadContent>

@if (IsLoading)
{
    <Loading Message="Just grabbing the post ..."></Loading>
}
else
{
    <section class="section">
        @if (Current is not null)
        {
            <div class="content">
                <h2 class="subtitle is-2">@Current.Title</h2>
                <p>@Current.Description</p>
            </div>
        
            <TechTags Tags="@Current.Tags"></TechTags>
        
            <div style="height: @Pixels()">
                <GitHubGist File="@Current.GistFile" Url="@Current.GistUrl"></GitHubGist>
            </div>
        }
    </section>
}







@code {

    [Parameter]
    public string PostId { get; set; }
    
    Post Current { get; set; }

    private string Pixels()
    {
        if (Current is not null)
        {
            return Current.RenderedHeightInPixels < 750 ? "80vh" : $"{Current.RenderedHeightInPixels}px";
        }

        return "80vh";
    }

    bool IsLoading { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine(PostId);
        if (firstRender)
        {
            try
            {
                IsLoading = true;
                StateHasChanged();
                Current = await _client.GetFromJsonAsync<Post>($"api/blog/{PostId}");
                IsLoading = false;
                StateHasChanged();
            }
            catch
            {
                _navigationManager.NavigateTo("/notfound");
                IsLoading = false;
            }
        }
    }

}